# build artefacts
/public
/_site
/netlify.toml

# dev stuff
_datacache

# secrets and errors
.env
.log

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# temp stuff
_tmp/

# node modules
node_modules/

# Local Netlify folder
.netlify
